# General
NODE_ENV=development
PORT=5000
# Database
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/autonomous_smart_home
# JWT
JWT_SECRET=change_this_secret
JWT_EXPIRES_IN=1d
# MQTT
MQTT_BROKER_URL=mqtt://localhost:1883
MQTT_USERNAME=
MQTT_PASSWORD=
# Firebase Cloud Messaging
FCM_PROJECT_ID=
FCM_CLIENT_EMAIL=
FCM_PRIVATE_KEY=
# App
CORS_ORIGIN=http://localhost:5173
